
*
h1{
    color: rgb(241, 9, 9);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.first-container {
  display: inline-block;
    margin: 10px; 
    background-color: rgba(245, 222, 194,0.7);
    
    
 
}
 

.body{
    display: flex;
    background-color: rgb(24, 24, 24);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
header a{
    color: rgb(37, 36, 36);
}
.menu {
    display: flex;
}


.menu li a{
    text-transform: uppercase;
    text-decoration-line: none;
    font-size: 20px;

}
.menu li {
    margin-right: 100px;
    padding:  5px;
    background-color: rgba(223, 217, 217, 0.7);
    border-radius: 4px;

}

li {
    list-style-type: none;
}
.tel{
    
    font-size: 20px;
    text-decoration-line: none;
    margin-left: auto;
    margin-right: 5%;
    background-color:rgba(223, 217, 217, 0.7) ;
    border-radius: 4px;
    padding:  5px;
    
}
.nav {
  
    align-items: center;
}

.yourbebe{
    background-color: rgba(223, 217, 217, 0.7);
    font-size: 90px;
    color: rgb(37, 36, 36);
    padding: 30px;
    margin-top: 14%;
    margin-bottom: 15%;
    display: inline;
    vertical-align: auto;

       
}

.name {
   display: flex;

   margin: 20px;
  
   

   
}
.main-photo {
    margin: 10px;
    width: 400px;
    display: inline-block;
}

.quote{
    background-color: rgba(223, 217, 217, 0.7);
    margin: auto;
    margin-left: 10px;
    display: inline ;
    vertical-align: auto;
    padding: 40px;
    border-radius: 4px;
    font-family:  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

    .about-us
    { 
        
    background-color: rgba(223, 217, 217, 0.6);
    border-color: rgba(221, 218, 212, 0.5);
    border-style: groove;
    font-family:'Zen Kaku Gothic Antique', sans-serif;;
    border-radius: 7px;
    margin: 80px;
    margin-left: 178px;
    background-position: top;
    word-spacing: 3px;
    padding: 30px;
    text-align: center;
    width: 1000px;

   

}
.second-container {
    background-color: rgba(223, 217, 217, 0.6);
    text-align: center;
    width: 1230px;
    padding: 30px;
    size: 55px;
    word-spacing: 3px;
    
    
        
  

}

.second-menu{
    display: flex;
}

.second-menu li a {
    text-transform: uppercase;
    text-decoration-line: none;
    font-size: 20px;
    display: inline-block;
    color:rgb(37, 36, 36);
    
  

}

.second-menu li {
    margin-right: 140px;
    padding:  5px;
    background-color: rgba(223, 217, 217, 0.7);
    border-radius: 4px;
    display: inline-block;
    
}


    


    

.feedback {
  
margin: 50px;
padding: 15px;
background-color: rgba(230, 217, 182, 0.7);
border-style: double;
border-radius: 4px;
border-width: 5px;
border-color: rgba(223, 217, 217, 0.7);

}


.textarea{
    resize: none;
 font-size: 17px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: auto;
    outline: none;

    margin-top: 10px;
    background-color: rgba(223, 217, 217, 0.7);
    border-radius: 6px;
    color: rgb(26, 25, 25);
   padding-left: 10px;
    text-align: left;
     

  
}
 
.button{
   background-color: rgb(236, 117, 117);
   margin-left: 15px;
   align-content: center;
   
}

.photo{
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: auto;
    margin: 50px;
    padding: 30px;
    padding-left: 70px;
    background-color:rgba(230, 217, 182, 0.7);
    
}

.nails{
    
   
    margin: 10px;
}

.massage {
    
   
    margin: 10px;
}

.makeup{
   
    margin: 10px;
}

.lashes{
    margin: 10px;
}

.good {
 margin: 10px;
}

.not-bad {
margin: 10px;
}
.terrible {
 margin: 10px;

}
.container {
    justify-content: center;
    display: block;
    flex-direction: column;

    align-self: auto;
    
  
    
}
